.tFirstMain{
/* border: 1px solid black; */
padding: 20px;
display: flex;
align-items: center;
gap: 20px;

}
.tFirstBox{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}